<style>
.dict {
    display: inline-table;
    min-height: 45px;

    position: relative;
    padding: 10px 15px;
    background-color: #fff;
    border-top: 1px solid #eeeeee;
    border-left: 1px solid #ededed;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    margin-bottom: 5px;
    margin-right: 5px;
}
.diclist {
    max-width: 900px;
    padding: 3px;
}
</style>
<script>document.title=t9n('[RU]Словарь[EN]Dictionary');</script>
<div class="diclist">
<p><B><t9n>[RU]Выберите тип для просмотра его экземпляров:[EN]Select a type to view the objects:</t9n></B></p>
<!-- Begin:&Uni_obj_List --><div class="dict"><A HREF="/{_global_.z}/object/{ID}" >{VAL}</A></div><!-- End:&Uni_Obj_List -->
</div>
