<div id="frame">
<h2>Интеграл приветствует вас!</h2>
<p>Для быстрого старта я предлагаю вам пока пропустить чтение <a target="_blank" href="https://tryjob.ru/download/Devs_manual.docx">Руководства разработчика</a> и не смотреть <a href="https://www.youtube.com/channel/UCwnKjSY_ZTp-ehfpGTyPOBw/videos?flow=grid&sort=da&view=0">Обучающие ролики партнеров сервиса</a>, а за 10-15 минут создать несколько собственных объектов, отчетов и форм.</p>
<p>Вам необходимо освоиться в системе, и я вам сейчас помогу.</p>
<h3>Для прохождения экспресс-знакомства с Интегралом нажмите <a href="/{_global_.z}/quest/0"><b>Далее</b></a></h3>
</div><!--/Frame-->
<script>
    if(document.documentElement.clientWidth>700)
        byId('frame').style='margin:20px';
</script>
